body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #F2D624;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 30px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}
.profile-image{
    background-color: #050505;
    padding: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.profile-image img:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transform: translate(-1%,-2%);
}
h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    font-family: cursive;
    color: #333;
}

.github{
    border:3px solid #000;
    width:45vw;
    height:8.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 0 auto 30px;
    box-shadow: 0 2px 5px rgba(1, 1, 1, 0.1);
}
a{
    transform: translate(-1%,-4%);
    display: flex;
    justify-content: center;
    align-items: center;
    width:45vw;
    height:8.5vh;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    font-size: 2vh;
    font-family: cursive;
    font-weight: bold;
}
a:hover{
    transform:translate(1%,2%)
}
.icon{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.portfolio{
    border:#000 2px solid;
    position:absolute;
    top:0;
    right:0;
    margin:25px;
    
    padding:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    font-family: cursive;
    font-weight: bold;
   
    box-shadow: 0 2px 5px rgba(1, 1, 1, 0.1);
}
.portfolio:hover{
    transform:translate(-1%,-2%);
    background-color: #fff;
}
.links{
    transform:translate(-1%,-4%);
}